<h4>Bienvenido: {{email}}</h4><p>Rol: {{rol}}</p><a href="/api/sessions/logout">Cierra Sesion</a>
<div class="infoProd">
    <h1>Lista de productos Handlebars</h1>
    <div class=" detalleProd">
        <div class="prduct-container">
            {{#each products}}
            <div class="product">
                <h2>{{this.description}}</h2>
                <p>Precio: $ {{this.Price}}</p>
                <a href="/api/products/{{this._id}}">Ver detalles</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<h1>Bienvenidos:{{lista}}</h1>