<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <a href="/products">Volver a lista de productos</a>
    </header>

    <div class="product-details">
       

        <p>Descripción: {{product.description}}</p>
        <p>Precio: $ {{product.Price}}</p>
        <p>Stock: {{product.Stock}}</p>
        <p>Categoría: {{product.category}}</p>
        <p>Estado: {{product.avalability}}</p>

        <button>Agregar al carrito</button>
    </div>

    <footer>
    </footer>
</body>
</html>




